body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Colors */
:root {
    --light-green: #B0D77E;
    --green: #66AD00;
    --white: #FFFFFF;
}

/* Navbar */
nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding: 20px;
    z-index: 10;
}

.logo-container {
    position: absolute;
    left: 5px;
    display: flex;
    align-items: center;
    height: 130px;
    top: 5px;
}

.logo img {
    height: 120px;
}

.logo-text-container {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 115px;
    height: 100%;
}

.logo-text {
    font-size: 14px;
    font-weight: 600;
    color: var(--green);
}

nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: var(--green);
    font-weight: 600;
}

nav ul li a:hover {
    background-color: lightgray;
    cursor: pointer;
}

nav .buttons {
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
}

nav .buttons a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;
}

.login {
    color: var(--green);
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid var(--green);
    margin-right: 5px;
}

.login:hover {
    color: var(--white);
    background-color: var(--green);
}

.register {
    color: var(--white);
    padding: 10px 30px;
    border-radius: 20px;
    background: var(--green);
    margin-right: 30px;
}

.register:hover {
    color: var(--green);
    background-color: var(--white);
    border: 2px solid var(--green);
}


/* Landing Section */
#landing {
    background-color: var(--light-green);
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#landing .image-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30%;
    overflow: hidden;
}

#landing .image-container.left {
    left: 0;
}

#landing .image-container.right {
    right: 0;
}

#landing .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#landing .content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#landing h1 {
    font-size: 10vw;
    margin: 0;
    color: #c1eb8c;
    font-weight: 800;
    white-space: nowrap;
    text-shadow: 0 0 10px var(--green), 0 0 15px var(--green);
}

#landing p {
    font-size: 1.5vw;
    color: var(--white);
}

#landing .read-more {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 30px;
    color: var(--white);
    background-color: var(--green);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid var(--white);
}

#landing .read-more:hover {
    color: var(--green);
    background-color: var(--white);
}


/* About Section */
#about {
    background-color: var(--white);
    color: var(--green);
    padding: 40px 10%;
}

#about h2 {
    font-size: 3vw;
    margin-bottom: 20px;
    font-weight: 700;
}

#about p {
    font-size: 1.2vw;
    color: #555;
    margin-bottom: 40px;
}

.about-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.about-card {
    background-color: var(--light-green);
    padding: 30px;
    border-radius: 10px;
    flex: 1;
}

.about-card h3 {
    font-size: 1.5vw;
    margin-bottom: 15px;
    font-weight: 700;
}

.about-card p {
    font-size: 1vw;
    color: var(--white);
}

.center-text {
    text-align: center;
    font-weight: bold;
    color: var(--white);
}

.align-right {
    text-align: left;
}

.join-text {
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: var(--green);
    margin-top: 50px;
}

/* Info Basketball Section1 */
#info {
    background: url('images/info_bb.png') no-repeat center center;
    background-size: cover;
    color: #333;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    position: relative;
}

.info-content {
    max-width: 40%;
    text-align: right;
    padding: 5px;
}

#info .title {
    font-size: 9vw;
    font-weight: 800;
    line-height: 0.9;
    color: var(--green);
    margin: 0;
}

#info .subtitle {
    font-size: 3vw;
    color: var(--white);
    margin: 10px 0 20px;
    letter-spacing: 12px;
}

#info .description {
    font-size: 1.2vw;
    color: #555;
    line-height: 1.7;
    margin: 0;
}

/* Info Volleyball Section2 */
#info2 {
    background: url('images/info_vb.png') no-repeat center center;
    background-size: cover;
    color: #333;
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    position: relative;
}

.info-content2 {
    max-width: 40%;
    text-align: left;
    padding: 5px;
    margin-right: auto;
    transform: translateY(40%);
}

#info2 .title {
    font-size: 9vw;
    font-weight: 800;
    line-height: 0.9;
    color: var(--green);
    margin: 0;
}

#info2 .subtitle {
    font-size: 3vw;
    color: var(--white);
    margin: 10px 0 20px;
    letter-spacing: 17px;
}

#info2 .description {
    font-size: 1.2vw;
    color: #555;
    line-height: 1.7;
    margin: 0;
}

/* Contact Section */
.contact-section {
    background: url('images/contact.png') no-repeat center center;
    background-size: cover;
    color: var(--white);
    padding: 60px 10%;
    text-align: center;
}

.contact-section h2 {
    font-size: 3.5vw;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 1.3vw;
    margin-bottom: 40px;
}

.contact-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
    width: 100%;
}

.contact-card {
    background-color: var(--light-green);
    padding: 50px 30px;
    border-radius: 10px;
    width: 30%;
    max-width: 500px;
}

.contact-card h3 {
    font-size: 2vw;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--green);
}

.contact-card p {
    font-size: 1.3vw;
    color: #555;
}

.contact-icon {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    filter: brightness(0) invert(1);
}